linked/.atom
linked/.config/nvim/tmp/*
linked/.config/StardewValley
linked/.config/ToothAndTail
linked/.config/.mono
linked/.config/configstore
linked/.config/fisherman
linked/.config/nvim/plugged
linked/.config/fish/functions
!linked/.config/fish/functions/fisher.fish
linked/.config/vifm
linked/.config/fish/fishd*
linked/.config/hub
linked/.config/asciinema
