set -x EDITOR vim
set -x LANG 'en_US.UTF-8'
set -x LC_ALL 'en_US.UTF-8'
set -x TAPPR http://tappr-api-development.ap-southeast-2.elasticbeanstalk.com/v1
set -x DD ~/Library/Developer/Xcode/DerivedData/
