set -x EDITOR vim
set -x LANG 'en_US.UTF-8'
set -x LC_ALL 'en_US.UTF-8'
set -x DD ~/Library/Developer/Xcode/DerivedData/
set -x HOMEBREW_AUTO_UPDATE_SECS 604800 # 1 week
set -x GOPATH $HOME/.go
set -x KAISTDLIB $HOME/Source/kai/
